In [9]:
import pandas as pd

In [10]:
raw_data = ({'Job Titles': ['Junior Software Engineer', 'Junior Software Engineer', 'Jr Software Developer', 'Junior Software Development Engineer-IND', 'Software Engineer - Python (Jr level)'],
             'Companyname': ['Mako IT Lab', 'Mangtas', 'Siemens Technology India', 'Ingram Micro', 'NielsenIQ'],
              'Location': ['Chennai, Tamil Nadu, India On-site', 'India Remote', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India', 'Chennai, Tamil Nadu, India'],})

In [11]:
df = pd.DataFrame(raw_data, columns = ['Job Titles', 'Companyname', 'Location'])

In [27]:
df.to_csv('E:\webscrapping files\linkedindata.csv', index = False, sep='\t')

In [28]:
df

,Job Titles,Companyname,Location
0,Junior Software Engineer,Mako IT Lab,"Chennai, Tamil Nadu, India On-site"
1,Junior Software Engineer,Mangtas,India Remote
2,Jr Software Developer,Siemens Technology India,"Chennai, Tamil Nadu, India On-site"
3,Junior Software Development Engineer-IND,Ingram Micro,"Chennai, Tamil Nadu, India"
4,Software Engineer - Python (Jr level),NielsenIQ,"Chennai, Tamil Nadu, India"

In [29]:
df1 = pd.read_csv('E:\webscrapping files\linkedindata.csv',sep='\t')

In [40]:
df1

,Job Titles,Companyname,Location
0,Junior Software Engineer,Mako IT Lab,"Chennai, Tamil Nadu, India On-site"
1,Junior Software Engineer,Mangtas,India Remote
2,Jr Software Developer,Siemens Technology India,"Chennai, Tamil Nadu, India On-site"
3,Junior Software Development Engineer-IND,Ingram Micro,"Chennai, Tamil Nadu, India"
4,Software Engineer - Python (Jr level),NielsenIQ,"Chennai, Tamil Nadu, India"

In [51]:
import pandas as pd
writer = pd.ExcelWriter('linkedindata.xlsx', engine='xlsxwriter')
writer.save()

In [53]:
import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Job Titles': ['Junior Software Engineer', 'Junior Software Engineer', 'Jr Software Developer', 'Junior Software Development Engineer-IND', 'Software Engineer - Python (Jr level)'],
             'Companyname': ['Mako IT Lab', 'Mangtas', 'Siemens Technology India', 'Ingram Micro', 'NielsenIQ'],
              'Location': ['Chennai, Tamil Nadu, India On-site', 'India Remote', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India', 'Chennai, Tamil Nadu, India'],})
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('linkedindata.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [50]:
df

,Job Titles,Companyname,Location
0,Junior Software Engineer,Mako IT Lab,"Chennai, Tamil Nadu, India On-site"
1,Junior Software Engineer,Mangtas,India Remote
2,Jr Software Developer,Siemens Technology India,"Chennai, Tamil Nadu, India On-site"
3,Junior Software Development Engineer-IND,Ingram Micro,"Chennai, Tamil Nadu, India"
4,Software Engineer - Python (Jr level),NielsenIQ,"Chennai, Tamil Nadu, India"

In [54]:
import pandas as pd
writer = pd.ExcelWriter('movies-demo.xlsx', engine='xlsxwriter')
writer.save()

In [66]:
import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Job Titles': ['Junior Software Engineer', 'Junior Software Engineer', 'Jr Software Developer', 'Junior Software Development Engineer-IND', 'Software Engineer - Python (Jr level)'],
             'Companyname': ['Mako IT Lab', 'Mangtas', 'Siemens Technology India', 'Ingram Micro', 'NielsenIQ'],
              'Location': ['Chennai, Tamil Nadu, India On-site', 'India Remote', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India', 'Chennai, Tamil Nadu, India'],})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('movies-demo.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()