In [9]:
import pandas as pd

In [10]:
raw_data = ({'Job Titles': ['Junior Software Engineer', 'Junior Software Engineer', 'Jr Software Developer', 'Junior Software Development Engineer-IND', 'Software Engineer - Python (Jr level)'],
             'Companyname': ['Mako IT Lab', 'Mangtas', 'Siemens Technology India', 'Ingram Micro', 'NielsenIQ'],
              'Location': ['Chennai, Tamil Nadu, India On-site', 'India Remote', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India', 'Chennai, Tamil Nadu, India'],})

In [11]:
df = pd.DataFrame(raw_data, columns = ['Job Titles', 'Companyname', 'Location'])

In [27]:
df.to_csv('E:\webscrapping files\linkedindata.csv', index = False, sep='\t')

In [28]:
df

,Job Titles,Companyname,Location
0,Junior Software Engineer,Mako IT Lab,"Chennai, Tamil Nadu, India On-site"
1,Junior Software Engineer,Mangtas,India Remote
2,Jr Software Developer,Siemens Technology India,"Chennai, Tamil Nadu, India On-site"
3,Junior Software Development Engineer-IND,Ingram Micro,"Chennai, Tamil Nadu, India"
4,Software Engineer - Python (Jr level),NielsenIQ,"Chennai, Tamil Nadu, India"

In [29]:
df1 = pd.read_csv('E:\webscrapping files\linkedindata.csv',sep='\t')

In [40]:
df1

,Job Titles,Companyname,Location
0,Junior Software Engineer,Mako IT Lab,"Chennai, Tamil Nadu, India On-site"
1,Junior Software Engineer,Mangtas,India Remote
2,Jr Software Developer,Siemens Technology India,"Chennai, Tamil Nadu, India On-site"
3,Junior Software Development Engineer-IND,Ingram Micro,"Chennai, Tamil Nadu, India"
4,Software Engineer - Python (Jr level),NielsenIQ,"Chennai, Tamil Nadu, India"

In [51]:
import pandas as pd
writer = pd.ExcelWriter('linkedindata.xlsx', engine='xlsxwriter')
writer.save()

In [53]:
import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Job Titles': ['Junior Software Engineer', 'Junior Software Engineer', 'Jr Software Developer', 'Junior Software Development Engineer-IND', 'Software Engineer - Python (Jr level)'],
             'Companyname': ['Mako IT Lab', 'Mangtas', 'Siemens Technology India', 'Ingram Micro', 'NielsenIQ'],
              'Location': ['Chennai, Tamil Nadu, India On-site', 'India Remote', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India', 'Chennai, Tamil Nadu, India'],})
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('linkedindata.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [50]:
df

,Job Titles,Companyname,Location
0,Junior Software Engineer,Mako IT Lab,"Chennai, Tamil Nadu, India On-site"
1,Junior Software Engineer,Mangtas,India Remote
2,Jr Software Developer,Siemens Technology India,"Chennai, Tamil Nadu, India On-site"
3,Junior Software Development Engineer-IND,Ingram Micro,"Chennai, Tamil Nadu, India"
4,Software Engineer - Python (Jr level),NielsenIQ,"Chennai, Tamil Nadu, India"

In [54]:
import pandas as pd
writer = pd.ExcelWriter('movies-demo.xlsx', engine='xlsxwriter')
writer.save()

In [66]:
import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Movie Title': ['A Star Is Born', 'Airplane', 'Alien', 'Aliens', 'Army of Darkness', 'Arnold Schwarzenegger', 'Assassin Of Youth', 'Avengers Endgame', 'Avengers Infinity Saga', 'Avengers Infinity War', 'Back To The Future', 'Back To The Future', 'Back To The Future', 'Batman Joker', 'Batman Joker', 'Beetlejuice', 'Beetlejuice', 'Beetlejuice', 'Big Lebowski', 'Big Trouble In Little China', 'Black Panther', 'Blade Runner', 'Blood In, Blood Out', 'Blow', 'Breakfast Club', 'Breakfast Club', 'Bride Of Frankenstein', 'Bride of Frankenstein', 'Bruce Lee', 'Bullitt', 'Caddyshack', 'Casablanca', "Child's Play 2", 'Church of Horror', 'Clint Eastwood', 'Clint Eastwood Dirty Harry', 'Commando', 'Creature From The Black Lagoon', 'Dazed and Confused', "Devil's Harvest", 'Dirty Dancing', 'Dracula', 'Dumb and Dumber', 'E.T.', 'E.T.', 'Edward Scissorhands', 'Eraserhead', 'Evil Dead'],
                   #'Stock': ['In Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'In Stock', 'Temporarily Out of Stock', 'Temporarily Out of Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'Temporarily Out of Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'Temporarily Out of Stock', 'In Stock', 'Temporarily Out of Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock', 'In Stock'],
                   'Item Number': ['Item #: 53330 -', 'Item #: 53220 -', 'Item #: 51543 -', 'Item #: 53267 -', 'Item #: 44853 -', 'Item #: 51823 -', 'Item #: 52466 -', 'Item #: 53184c -', 'Item #: 54340 -', 'Item #: 52709 -', 'Item #: 53366b -', 'Item #: 53224 -', 'Item #: 48452 -', 'Item #: 51827 -', 'Item #: 51687 -', 'Item #: 52043 -', 'Item #: 53414 -', 'Item #: 54313 -', 'Item #: 47287 -', 'Item #: 53162 -', 'Item #: 52575 -', 'Item #: 52577 -', 'Item #: 52097b -', 'Item #: 44589 -', 'Item #: 44719 -', 'Item #: 53365 -', 'Item #: 51685 -', 'Item #: 53238b -', 'Item #: 53173 -', 'Item #: 53192b -', 'Item #: 50830 -', 'Item #: 50867b -', 'Item #: 53221 -', 'Item #: 53170b -', 'Item #: 51303 -', 'Item #: 52392 -', 'Item #: 54066 -', 'Item #: 52827 -', 'Item #: 48552 -', 'Item #: 38371 -', 'Item #: 49932b -', 'Item #: 51199b -', 'Item #: 47088 -', 'Item #: 28288 -', 'Item #: 53351 -', 'Item #: 41427 -', 'Item #: 54305 -', 'Item #: 42865b -'],
                   'Retail Price': ['$7.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$7.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$9.99', '$8.99', '$8.99', '$8.99', '$8.99'],})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('movies-demo.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()