In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#

In [ ]:
##df.to_csv('data.csv') saving csv

In [ ]:
pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.1 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2

In [ ]:
pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('demo.xlsx', engine='xlsxwriter')
writer.save()

In [ ]:
import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Name': ['A', 'B', 'C', 'D'],
                   'Age': [10, 0, 30, 50]})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('demo.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
import pandas as pd
writer = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')
writer.save()

import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Movie Title': ['A Star Is Born', 'Airplane', 'Alien', 'Aliens', 'Army of Darkness', 'Arnold Schwarzenegger', 'Assassin Of Youth', 'Avengers Endgame', 'Avengers Infinity Saga', 'Avengers Infinity War', 'Back To The Future', 'Back To The Future', 'Back To The Future', 'Batman Joker', 'Batman Joker', 'Beetlejuice', 'Beetlejuice', 'Beetlejuice', 'Big Lebowski', 'Big Trouble In Little China', 'Black Panther', 'Blade Runner', 'Blood In, Blood Out', 'Blow', 'Breakfast Club', 'Breakfast Club', 'Bride Of Frankenstein', 'Bride of Frankenstein', 'Bruce Lee', 'Bullitt', 'Caddyshack', 'Casablanca', "Child's Play 2", 'Church of Horror', 'Clint Eastwood', 'Clint Eastwood Dirty Harry', 'Commando', 'Creature From The Black Lagoon', 'Dazed and Confused', "Devil's Harvest", 'Dirty Dancing', 'Dracula', 'Dumb and Dumber', 'E.T.', 'E.T.', 'Edward Scissorhands', 'Eraserhead', 'Evil Dead'],
                   #'Stock': ['Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: Temporarily Out of Stock', 'Availability: Temporarily Out of Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock', 'Availability: In Stock'],
                   'Item Number': ['Item #: 53330 -', 'Item #: 53220 -', 'Item #: 51543 -', 'Item #: 53267 -', 'Item #: 44853 -', 'Item #: 51823 -', 'Item #: 52466 -', 'Item #: 53184c -', 'Item #: 54340 -', 'Item #: 52709 -', 'Item #: 53366b -', 'Item #: 53224 -', 'Item #: 48452 -', 'Item #: 51827 -', 'Item #: 51687 -', 'Item #: 52043 -', 'Item #: 53414 -', 'Item #: 54313 -', 'Item #: 47287 -', 'Item #: 53162 -', 'Item #: 52575 -', 'Item #: 52577 -', 'Item #: 52097b -', 'Item #: 44589 -', 'Item #: 44719 -', 'Item #: 53365 -', 'Item #: 51685 -', 'Item #: 53238b -', 'Item #: 53173 -', 'Item #: 53192b -', 'Item #: 50830 -', 'Item #: 50867b -', 'Item #: 53221 -', 'Item #: 53170b -', 'Item #: 51303 -', 'Item #: 52392 -', 'Item #: 54066 -', 'Item #: 52827 -', 'Item #: 48552 -', 'Item #: 38371 -', 'Item #: 49932b -', 'Item #: 51199b -', 'Item #: 47088 -', 'Item #: 28288 -', 'Item #: 53351 -', 'Item #: 41427 -', 'Item #: 54305 -', 'Item #: 42865b -'],
                   'Retail Price': ['$7.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$7.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$8.99', '$9.99', '$8.99', '$8.99', '$8.99', '$8.99']})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('demo.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
import pandas as pd

# dataframe Name and Age columns
df = pd.DataFrame({'Job Title': ['Active Directory Jr. Engineer', 'Junior Software Engineer', 'Junior Software Engineer', 'Junior Software Engineer', 'Junior Software Engineer', 'Jr Software Developer', 'Junior Software Development Engineer-IND', 'Software Engineer - Python (Jr level)'],
                   'Company Name': ['Teamware Solutions a division of Quantum Leap Consulting Pvt. Ltd', 'Mangtas', 'TAIGER', 'Canvas Craft Media', 'Mako IT Lab', 'Siemens Technology India', 'Ingram Micro', 'NielsenIQ'],
                    'Location': ['Hyderabad, Telangana, India Remote', 'India Remote', 'Bengaluru, Karnataka, India Remote', 'Sahibzada Ajit Singh Nagar, Punjab, India Remote', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India On-site', 'Chennai, Tamil Nadu, India', 'Chennai, Tamil Nadu, India']})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('demo.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
import pandas as pd
df = pd.DataFrame({"col": [1, 2, 3, 137.46]})

print(df)
#df.to_csv('data.csv')

      col
0    1.00
1    2.00
2    3.00
3  137.46

In [ ]:
df["col"] = 2 * df["col"]

print(df)
#df.to_csv('data.csv')

      col
0    2.00
1    4.00
2    6.00
3  274.92

In [ ]:
import pandas as pd
df = pd.DataFrame({"col": [1, 2, 3, 137.46]})

print(df)
#df.to_csv('data.csv')

      col
0    1.00
1    2.00
2    3.00
3  137.46

In [ ]:
# multiplication with data frame

df["col"] = round(1000000 * df["col"])

print(df)
#df.to_csv('data.csv')

            col
0  1.000000e+18
1  2.000000e+18
2  3.000000e+18
3  1.374600e+20

In [ ]:
# multiplication with data frame
df["col"] = 2 * df["col"]

print(df)
#df.to_csv('data.csv')

           col
0    2000000.0
1    4000000.0
2    6000000.0
3  274920000.0

In [ ]:
# addig nan in data frame while facing value error
import pandas as pd
import numpy as np
d = {'col1': [1, 2,np.nan,4], 'col2': ['a',np.nan,'d', 'f'], 'col3':[np.nan,'x',np.nan,'v'],'col4':['q','w','e',np.nan]}

df = pd.DataFrame(data=d)
display(df)

   col1 col2 col3 col4
0   1.0    a  NaN    q
1   2.0  NaN    x    w
2   NaN    d  NaN    e
3   4.0    f    v  NaN

In [ ]:
d2 = {'col1': [1, 2,'d',4], 'col2': ['a','x','e', 'f'], 'col3':['q','w',np.nan,'v']}

df2 = pd.DataFrame(data=d2)
display(df2)

  col1 col2 col3
0    1    a    q
1    2    x    w
2    d    e  NaN
3    4    f    v

In [ ]:
df = pd.DataFrame({"A":["aa","ba","ca"]})
df

    A
0  aa
1  ba
2  ca

In [ ]:
df["A"].str[:-1]

0    a
1    b
2    c
Name: A, dtype: object

In [ ]:
df = pd.DataFrame({"A":["a","ab","abc"]})
df

In [ ]:
df["A"].str[:-1]

0
1     a
2    ab
Name: A, dtype: object

In [ ]:
import pandas as pd
df = pd.DataFrame({"A": ['100M', '200M', '300M', '137.46M']})

print(df)

         A
0     100M
1     200M
2     300M
3  137.46M

In [ ]:
import pandas as pd
a = ['100M', '200M', '300M', '137.46M']
b = ['10M', '20M', '30M', '40M']
df = pd.DataFrame({"A": a, "b": b})
data = df["A"].str[:-1]
df = pd.DataFrame({"A": data, "b": b})
print(df)

        A    b
0     100  10M
1     200  20M
2     300  30M
3  137.46  40M

In [ ]:
data = df["A"].str[:-1]
data

0       100
1       200
2       300
3    137.46
Name: A, dtype: object

In [ ]:
# multiplication with data frame

d = 1000000 * data

print(d)

0    1001001001001001001001001001001001001001001001...
1    2002002002002002002002002002002002002002002002...
2    3003003003003003003003003003003003003003003003...
3    137.46137.46137.46137.46137.46137.46137.46137....
Name: A, dtype: object

In [ ]:
df["A"].str[:-1]

0       100
1       200
2       300
3    137.46
Name: A, dtype: object

In [ ]:
string = "geeks for geeks geeks geeks geeks"
 
# Prints the string by replacing
# e by a
print(string.replace("geeks", "Geeks"))

Geeks for Geeks Geeks Geeks Geeks

In [ ]:
string = "100M"
 
# Prints the string by replacing
# e by a
print(string.replace("M", ""))

100

In [ ]:
#basics - https://stackoverflow.com/questions/28986489/how-to-replace-text-in-a-string-column-of-a-pandas-dataframe
# accurate reference - https://stackoverflow.com/questions/24197305/error-when-trying-to-convert-a-column-with-string-in-python-pandas-to-float
  # m replacing- using string replacement .str.replace('M','',inplace=True)
import pandas as pd
a = ['100.1M', '200.6M', '300.2M', '137.6M']
b = ['10M', '20M', '30M', '40M']
df = pd.DataFrame({"A": a, "b": b})
#data = df["A"].str.replace('M','',inplace=True)
data = df["A"].replace('[M]', '', regex=True).astype(float)
df = pd.DataFrame({"A": data, "b": b})
print(df)

       A    b
0  100.1  10M
1  200.6  20M
2  300.2  30M
3  137.6  40M

In [ ]:
import pandas as pd
a = ['100M', '200M', '300M', '137M']
b = ['10M', '20M', '30M', '40M']
df = pd.DataFrame({"A": a, "b": b})
#data = df["A"].str.replace('M','',inplace=True)
data = df["A"].replace('[M]', '', regex=True).astype(int)
df = pd.DataFrame({"A": data, "b": b})
print(df)

     A    b
0  100  10M
1  200  20M
2  300  30M
3  137  40M

In [ ]:
import pandas as pd

file_path = 'yahoo_gainers2.csv'
df = pd.read_csv(file_path)
#df.columns = ["Volume"] 
df

In [ ]:
#references

#https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return x

df['Volume'] = df['Volume'].apply(value_to_float)
df

In [ ]:
import pandas as pd
df=pd.DataFrame({'ssn':[12345,54321,111,47895,222311],'Name':['john','mike','adam','doug','liz']})
mask = df['ssn'].astype(str).str.len() != 5
df.loc[mask, 'ssn'] = ''
print(df)

     ssn  Name
0  12345  john
1  54321  mike
2         adam
3  47895  doug
4          liz

In [ ]:
import pandas as pd
df=pd.DataFrame({'ssn':[12345,54321,0,47895,0],'Name':['john','mike','adam','doug','liz']})
if len(df) != 0:
  mask = df['ssn'].astype(str).str.len() != 0
  df.loc[mask, 'ssn'] = ''
print(df)

  ssn  Name
0      john
1      mike
2      adam
3      doug
4       liz

In [ ]:
import numpy as np
df = pd.DataFrame([
    [-0.532681, 'foo', 0],
    [1.490752, 'bar', 1],
    [-1.387326, 'foo', 2],
    [0.814772, 'baz', ' '],     
    [-0.222552, '   ', 4],
    [-1.176781,  'qux', '  '],         
], columns='A B C'.split(), index=pd.date_range('2000-01-01','2000-01-06'))

# replace field that's entirely space (or empty) with NaN
print(df.replace(r'^\s*$', np.nan, regex=True))

                   A    B    C
2000-01-01 -0.532681  foo    0
2000-01-02  1.490752  bar    1
2000-01-03 -1.387326  foo    2
2000-01-04  0.814772  baz  NaN
2000-01-05 -0.222552  NaN    4
2000-01-06 -1.176781  qux  NaN

In [3]:
! pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 20.4 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [4]:
import yfinance as yf
import csv
import pandas as pd
import numpy as np

urls=[
'amd',
#'voo',
'msft'
    ]
shortName = []
symbol = []
volume = []
currentPrice = []
averageVolume = []
previousClose = []
for url in urls:
    tickerTag = yf.Ticker(url)
    shortName.append(tickerTag.info['shortName'])
    symbol.append(tickerTag.info['symbol'])
    volume.append(tickerTag.info['volume'])
    currentPrice.append(tickerTag.info['currentPrice'])
    averageVolume.append(tickerTag.info['averageVolume'])
    previousClose.append(tickerTag.info['previousClose'])
print(shortName)
print(symbol)
print(volume)
print(currentPrice)
print(averageVolume)
print(previousClose)

data = [
    shortName,
    symbol,
    volume,
    currentPrice,
    averageVolume,
    previousClose,
]

df = pd.DataFrame(columns=["amd", "msft"], data=data)
df
df.to_csv('data.csv')

['Advanced Micro Devices, Inc.', 'Microsoft Corporation']
['AMD', 'MSFT']
[82512504, 37073923]
[85.52, 277.52]
[102835503, 33015655]
[89.64, 289.63]

                            amd                   msft
0  Advanced Micro Devices, Inc.  Microsoft Corporation
1                           AMD                   MSFT
2                      82512504               37073923
3                         85.52                 277.52
4                     102835503               33015655
5                         89.64                 289.63